<?xml version="1.0" encoding="UTF-8"?>

        <web-app>
        <display-name>Example App</display-name>
        <servlet>
                <servlet-name>HelloServlet</servlet-name>
                <servlet-class>com.my.myservlet.HelloServlet</servlet-class>
                <description>This is a simple Hello World servlet</description>
        </servlet>

        <servlet-mapping>
        <servlet-name>HelloServlet</servlet-name>
                     <url-pattern>/name</url-pattern>
        </servlet-mapping>

        </web-app>